.DS_Store

# Backend Laravel 
babi/vendor/
babi/.env
babi/storage/*.key
babi/storage/logs/*.log
babi/storage/framework/cache/*
babi/storage/framework/sessions/*
babi/storage/framework/views/*
babi/bootstrap/cache/*.php
babi/.phpunit.cache
babi/node_modules/

# Frontend React
front/Babi-frontend/node_modules/
front/Babi-frontend/dist/
front/Babi-frontend/.env
front/Babi-frontend/audit-report.json


# Général
*.log
.idea/
.vscode/